*.pyc
*.dot
*.eps
*.png
*.ps
*.aux
*.swp
# *.tex
*.pdf
*.dvi
*.py.kate-swp
Database.txt
distribution/create.log
bin/SmsDictionary
bin/Database
bin/ListOfAnalyses
bin/ListOfAnalysesWithSuperseded
*.py~
old/
slha/T*_*_*_slhas/
*.slha
validation/twiki/twiki*.txt
distribution/smodels-v*
.project
covariances/SL.root
.pydevproject
validation/pythia_??????.card
*~
bin/OldListOfAnalyses
bin/OldListOfAnalysesWithSuperseded
slha/ls
