*.pyc
*.dot
*.eps
*.png
*.ps
*.aux
*.swp
# *.tex
*.pdf
*.log
*.dvi
*.py.kate-swp
Database.txt
bin/SmsDictionary
bin/ListOfAnalyses
*.py~
old/
slha/T*_*_*_slhas/
*.slha
validation/twiki/twiki*.txt
distribution/smodels-v*
.project
.pydevproject
validation/pythia_??????.card
*~
