*.pyc
feyn/
*.dot
*.eps
*.ps
*.aux
*.swp
# *.tex
*.dvi
tmp/
*.py.kate-swp
Database.txt
distribution/create.log
bin/SmsDictionary
bin/Database
bin/ListOfAnalyses
bin/ListOfAnalysesWithSuperseded
*.py~
old/
slha/T*.slha
validation/twiki/twiki*.txt
validation/results
validation/tmp*
covariances/.CMS*
distribution/smodels-v*
smodels_utils/plotting/T*pdf
.project
covariances/SL.root
covariances/atlas*png
.pydevproject
validation/pythia_??????.card
*~
bin/OldListOfAnalyses
bin/OldListOfAnalysesWithSuperseded
slha/ls
validation/Validation*
*/.http*
smodels_utils/helper/database.bib
smodels_utils/helper/failed.txt
smodels_utils/helper/log.txt
smodels_utils/helper/refs.bib
singularity/smodels.simg
bin/downloads.csv
*.exe
bin/database.bib
bin/failed.txt
bin/log.txt
bin/refs.bib
EM_Creator/LLP/ufo2slha
EM_Creator/LLP/pythia8
EM_Creator/LLP/MG5
