obsolete/
pics/*png
cur*slha
.cur*slha
walker*log
*pcl
predictions.pcl
matrix*png
matrix*pdf
decays.log
ruler.png
index.html
texdoc.dvi
texdoc.log
texdoc.png
decays.pdf
decays.png
decays.tex
paper/document.log
debug.log
paper/decays.log
paper/decays.pdf
paper/document.out
paper/document.pdf
history_old.py
hiscore.slha
ruler_direct.png
training_*.gz
modifier.log
.erm*slha
plt*
.llhd*slha
.tri*slha
.old*slha
M*.png
hiscore.log
texdoc.tex
mymodel.py
untrimmed_decays.*
rawnumbers.html
rawnumbers.tex
rvalues.tex
llhd*png
pmodel?.py
index.tex
rundir.conf
ssm*png
