## install with
## pip3 install --user -r requirements.txt

minecart ## for pdf reader
reportlab ## for addLogoToPlots
pypdf2 ## for addLogoToPlots
colorama
doi2bib ## for bibtexTools 
bibtexparser ## for bibtexTools
matplotlib
sympy
