obsolete/
cur*slha
.cur*slha
walker*log
*pcl
predictions.pcl
matrix*png
matrix*pdf
decays.log
ruler.png
index.html
decays.pdf
decays.png
decays.tex
paper/document.log
debug.log
paper/decays.log
paper/decays.pdf
paper/document.out
paper/document.pdf
